body{
  margin:0;
  color:#333;
}

#particles-js{
  background-image:url(image/pexels-photo-1345089.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  position:absolute;
  display:block;
  height: 100%;
  width: 100%;   
}

.lo{
  width: 200px;
  margin-left: 5px;
}

 .navbr{
  opacity: 0.7;
}

.fth h6{color:white;}
.ico i{color:white;}
.ftm{background-color:#1C2331;}
.ftl h6{color:white;}
.ftll{background-color:white;}
.ftl p{color:white;}
.ft2 h6{color:white;}
.ft2 p a{color:white;text-decoration:none;}
.ft2 p a:hover{color:#C53F1B;}
.ft3 h6{color:white;}
.ft3 p a{color:white;text-decoration:none;}
.ft3 p a:hover{color:#C53F1B;}
.ft4 h6{color:white;}
.ft4 p i{color:white;text-decoration:none;}
.ft4 p{color:white;text-decoration:none;}
.ft5{background-color:#161C27;color:white;}

.im1{
  color:#d10808;
  text-align: center;
}

.im{
  color:#000000;
  text-align: center;
  font-size:40px;
}

.img{
  width:450px;
  height:250px;
}
.text{
  background: #f2f2f2;
  margin: 3%;
}

.first, .second, .third, .fourth{
  margin-bottom: 100px;
}












.jumbotron {
  text-align: center;
}

.jumbotron h1{
  font-size:65px;
}

.jumbotron .lead{
  font-size:28px;
}

#j1 {
  background-color: transparent;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

#section2{
  margin-bottom: 80px;
}







.animate {
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}    
.info-card {
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    position: relative;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius:25px;
  }
  .info-card > img { width: 100px; margin-bottom: 60px; }
  .info-card .info-card-details,
  .info-card .info-card-details .info-card-header  {
    width: 100%;  
    height: 100%;
    position: absolute; 
    bottom: -100%; 
    left: 0;
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  .info-card .info-card-details::-webkit-scrollbar { width: 8px; }
  .info-card .info-card-details::-webkit-scrollbar-button { width: 8px; height: 0px; }
  .info-card .info-card-details::-webkit-scrollbar-track { background: transparent; }
  .info-card .info-card-details::-webkit-scrollbar-thumb { background: rgb(160, 160, 160); }
  .info-card .info-card-details::-webkit-scrollbar-thumb:hover { background: rgb(130, 130, 130); }           
  .info-card .info-card-details .info-card-header {
    height: auto;   
    bottom: 100%;
    padding: 10px 5px;
  }
  .info-card:hover .info-card-details {
    bottom: 0;
    overflow: auto;
    padding-bottom: 25px;
  }
  .info-card:hover .info-card-details .info-card-header {
    position: relative; 
    bottom: 0;
    padding-top: 45px; 
    padding-bottom: 25px;
  }
  .info-card .info-card-details .info-card-header h1, 
  .info-card .info-card-details .info-card-header h3 {
    color: rgb(62, 62, 62);
    font-size: 22px; 
    font-weight: 900;
    text-transform: uppercase;
  }
  .info-card .info-card-details .info-card-header h3 {
    color: rgb(142, 182, 52);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
  }
  .info-card .info-card-details .info-card-detail {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    text-align: center;
  }
  .info-card .info-card-details .info-card-detail{
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0;
    margin: 0 5px;
    overflow: hidden;
    text-align: center;
  }
#section3{
  margin-bottom:25px;
}









.heading{
  text-align:center;
  margin-bottom: 40px;
  position:relative;  
}

.heading::after{
    content:'';
    height:4px;
    width:10%;
    background:#dd9c2c;
    position:absolute;
    left:485px;
    bottom:-20px;
}

#section4{
  margin-bottom:60px;
}




